:root{
    --tono: 324;
    --complementario: 56;
    --contraste: 230;

    --color-principal: hsla(var(--tono), 100%, 40%,1);
    --color-principal-medio:hsla(var(--tono),100%, 86%,1);
    --color-principal-claro: hsla(var(--tono), 100%, 98%,1);
    --color-principal-oscuro:hsla(var(--tono),100%, 15%,1);



   /* --color-complementario:hsla(var(--complementario),100%,48%,1);*/

    --color_contraste-oscro:hsla(var(--contraste), 13%, 10%,1);
    --color_contraste-media:hsla(var(--contraste), 15%, 10%,1);

--color-blanco:white;

--fuente-principal: "poppins","noto-sans";

--light:300;
--normal: 600;
--bold:600;

}

/*---conf general--*/

h1,h2,h3,h4,h5,h6,p,a,span{
   color:var(--color-contraste-oscuro);
   text-decoration:none;
   list-style: none;;
}
ul{
list-style: none;
}

.light{
    font-weight: var(--light);
    }
.normal{
    font-weight: var(--normal);
}
.contact{
    font-weight: var(--bold);
}

/**estilos*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--fuente-principal);
}


/**spantalla celular 0px a 764px- SLIDER*/


.Container{
    
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;

}
.pagina1, .pagina2 {
    width:100%
    
    
    

}

.pagina1{
    overflow: hidden;
   width: 200%;
    background-color: var(--color-blanco);


}

.pagina2{
    background-image: url(../imagen/fondo3.jpeg) ;
    background-size: cover;
    position: absolute;
    opacity: 1;
    min-height: 100%;
    transition: .5s all ease-in-out;
    left:100%;
    pointer-events: none;
    /*celular y tablet*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 80px 80px 80px ;
 
    grid: 20px;
    

}
.mover{
    left:0%;
    pointer-events: all;
    
}

/*-------  pagina 1 diseño----------------------------*/


.banner{
    height: 10em;
    padding: 20px;
    border-radius: 0 0 20 px 20 px;
    background-image: url(../imagen/fondo3.jpeg);
    background-size: cover;
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width:100%;


    
}
.banner_titulo h1{
    font-size: 2.5rem;
    color:var(--color-blanco);
    text-shadow: 4px 8px 18px black;
    

   
}
.banner_titulo h2{
    font-size: 2rem;
    font-weight: var(--normal);
    text-shadow: 3px 5px 15px black;
  

}
.miinformacion {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-image: url(../imagen/fondo1.jpeg);
    background-size: cover;
    opacity: .9;
    margin-right: 40px;
    margin-left: 40px;
  
}

.info_datos li  {
    display: flex;
    align-items: right;
    margin-bottom: 10px;
    margin-left: 60px;
    align-content: right;
    align-items: center ;  
    font-size: rem;  
    ;
}


.info_datos i {
    font-size: 2rem;
    margin-right: 20px;
    justify-content: center;
   
}
.info_datos{
    margin-left: 40px;
}

.imagen_postulante{
    width: 30%;
    margin-left: 2px;
    border-radius: 10px;
    margin-top: -10px;
    background-image: url(../imagen/fondo1.jpeg);
    background-size: cover;
}
.presentacióntitulo h2 {
    position: relative;
    justify-content: center;
    margin-left:4em;
    margin-bottom: 10px;
    font-size: 2em;

}

.presentacióntitulo p{
    margin-right: 2em;
    margin-left: 4em;
    font-size: 1.5rem;
    margin-top: 18px;
    text-align: left;
    justify-self: center;
    
       
}
.sección_botones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10 px;
    min-height: 1rem;
    margin-left: 5em;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  
 }
 .sección_botones p {
    font-size:1.6em;
    align-items: center;
    justify-content: center;
  
 }
        
.sección_botones a {
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
background-image: url(../imagen/fondo3.jpeg);
margin: 4% 20% 5% 10%;
padding: .2rem;
border-radius: 15px;
font-size: .9rem;
font-weight: 900;
transition: .2 all ease-in-out;
background-size: 100%;
background-size: cover;
        
}
.sección_botones i {
    font-size: 16px;}

.sección_botones :hover {

    transform: scale(1.2);
}

  /*------pagina 2-------------------------------------*/

/*barras habilidades*/
.habilidades {
    grid-row: 2/4;
    grid-column: 1/4;
    padding: 2px 0px;
    margin-left: 10em;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: right;
  
}

 
    .habilidades h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 10px;
    margin-top: 1rem;
    }
    .habilidades i {
        font-size: 30px;
    margin-left: 30px;

    }
    
    .habilidades .barras {
        Position:relative;
        Display:grid;
        grid-template-columns: 300px 1fr;
        Justify-content:left;
        align-items: right;
        padding: 0 15px; 
        margin-top: 0.8rem;
        font-size: 1.3rem;
        width: 100%;
      
    
    }
    .habilidades .barras spam{
     font-size: 1.2rem;
     font-weight: bold; 
       
    }
    
    .habilidades .barras .porcentaje {
        Position: relative;
        Width:70%;
        Height:10px;
        Background:rgb(231, 223, 223);
       margin-top: .5rem;
    }
    .habilidades .barras .porcentaje div {
        Position: absolute;
        Top:0;
        Left: 0px;
        Height:100%;
        Background:#3614af;
       
    }


/*seccion experiencia*/
.experiencia {
    grid-row: 2/4;
    grid-column:3/8 ;
    padding: 2px 0;
    margin-bottom: 10rem;
    margin-top: 30px;
    align-items: right;
    font-size: 17px;
    
}
.experiencia h2 {
    font-size: 30px;
    margin-top: 1rem;
    text-transform: uppercase;
   }

.experiencia i{
    font-size: 30px;
    margin-left: 30px;

    
   }
.sección_experiencia_info td {
    padding: 0px 10px;
    margin-right: 10px;   
    font-size: 15.5px;
          
}

.sección_experiencia_info td:first-child{
    width: 125px;
}


.sección_experiencia_info .año{
    font-weight: var(--bold);
    font-size: 15px;
    padding-right: 30px;
    
}
.sección_experiencia_info {
    margin-left: 10px;
}

/***educaccion*/

.estudios {
    grid-row: 2/4;
    grid-column: 8/12;
    padding: 2px 0px;
    margin-bottom: 10px;
    padding: 2px 0px;
    margin-top: 30px;
    align-items: right;
    margin-left: 2rem;
   
}


.estudios h2  {
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 1rem;
     

}
.estudios i {
    font-size: 30px;
    margin-left: 30px;
    
       }
    

.sección_estudios_info td {
    padding: 15px 20px 0px;
    margin-right: 10px;
    margin-left: 80px;
    font-size: 14px;
   }

.sección_estudios_info td:first-child{
    width: 110px;
  }


.sección_estudios_info .año{
    font-weight: var(--bold);
    font-size: 15px;
    padding-right: 10px;
}



.header{
background-image: url(../imagen/prueba.png);
background-size: cover;
height: 80px;
border-radius: 0 0 20px 20px;
display: flex;
align-items: center;
padding: 0 20px;
position: relative;
z-index: 2;
grid-column: 1/13;

}
.header_a {
    font-size: 20px;
    color: var(--color-blanco);
   font-weight: var(--bold);
   align-content: center;
   justify-content: space-between;
   transition: all .2s ease-in-out;
}

.header_a :hover {
    color: var(--color-contraste-oscuro);
    transform: scale(.9);
}


/*------ red social-------------------------------*/
.redsocial{
    position:fixed;
    bottom:.6rem;
    left:2%;
    top: 250px ;
    z-index: 2000px;
    justify-content:center;
    align-items: center;
}

.redsocial_iconos{
    background-color: var(--color-principal-medio);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 70%;
    border-radius: 1.2rem;
    box-shadow: 3px 5px 20px;
   
}

.redsocial_iconos a {
color:var(--color-oscuro);
font-size: 2rem;
transition: .3s all ease-in-out;
}
.redsocial_iconos i{
    color:var(--color-oscuro);
    font-size: 2rem;
    transition: .3s all ease-in-out;
    }
.redsocial_iconos a :hover{
    color:var(--color-principal);
  transform: scale(1.4);
}


/*-------------------------------------------------------------*/



    /*-------------- pantalla tablet-----*/
  @media screen and (max-width: 764px){
   
    /*pagina1--------------------------*/


    .banner{
    height: 15%;
    padding:20px;
    border-radius: 0 0 30px 30px ;
    }  
    
    .banner_titulo h1 {
    font-size: 2rem;
    text-shadow: 3px 5px 15px black;
    }

    
        
    .imagen_postulante{
    width: 30%;
    margin-left: 2px;
    border-radius: 10px;
    margin-top: -10px;
        }
    .info_datos li {
    display: flex;
    align-items: right;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 1rem;
        
    }
    .info_datos i {
        font-size: 1.4rem;}

    .presentacióntitulo h2 {
    position: relative;
    justify-content: center;
    margin-left: 140px;
    margin-bottom: 10px;
    font-size: 2rem;
            
    }
        
    .presentacióntitulo p{
    margin-right: 140px;
    margin-left: 140px;
    font-size: 1rem;
    margin-top: 16px;
    text-align: justify;
    flex-direction: column;
            
    }
    .sección_botones{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10 rem;
    min-height: 2rem;
    margin-top: 3rem;
   
    width: 80%;
    }
    .sección_botones p{
        font-size: 1rem;
        text-align: center;
        justify-content: center;
    }
            
    .sección_botones a {
        margin-top: 1%;
    }

    .redsocial {
    position:fixed;
    bottom:0.6rem;
    left:4%;
    top: 250px ;
    z-index: 2000px;
    justify-content:center;
    align-items: center;
            
                
    }
    .redsocial_iconos{
    background-color: var(--color-principal-medio);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 1.6rem;
    width: 48%;
    border-radius: 1.2rem;
    box-shadow: 3px 5px 20px;
            
    }
            
    .redsocial_iconos a i{
    color:var(--color-oscuro);
    font-size: 2.8rem;
    transition: .3s all ease-in-out;

    }
    .redsocial_iconos a :hover{
    color:var(--color-principal);
    transform: scale(1.4);
    }

    .header{
    height: 100px;}

    .header_a{
    font-size: 30px;
    color: var(--color-blanco);
    font-weight: var(--bold);
    align-content: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    }
    .header_a :hover{
    color: var(--color-contraste-oscuro);
    transform: scale(.9);
        }


   
 /*pagina2 tablet*/
 .habilidades {
    margin-left: 20%;
 }

    .habilidades .barras .porcentaje {
    Position: relative;
    Width:50%;}

    .habilidades h5 {
        font-size: 12px;}

    .habilidades .barras {
            Position:relative;
            Display:grid;
            grid-template-columns: 210px 1fr;}

            
 .estudios {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 400px;
    margin-left: 20%;
    width: 100%;
   }
   .sección_experiencia i{
    margin-left: 30px;
   }
   .sección_experiencia h2{
    margin-left: 30px;
   }
   .sección_experiencia_info {
    margin-left: 30px;
   }
.sección_experiencia_info td {
    padding: 0px 20px;
   
    font-size: 12px;
        
}

.sección_experiencia_info td:first-child{
    width: 125px;}


.sección_experiencia_info .año {
    font-weight: var(--bold);
    font-size: 10px;
    padding-right: 30px;
}


/*------ red social-------------------------------*/
.redsocial{
    position:fixed;
    bottom:.1rem;
    left:2%;
    top: 250px ;
    z-index: 200px;
    justify-content:center;
    align-items: center;
}

.redsocial_iconos a i {
  
    font-size: 1.7rem;
   
    padding: .5rem;
    width: 70%;
    border-radius: 1.2rem;
  
    }
    .redsocial_iconos{
       
        padding: .9rem;
     
}
  }

  /*****celular -------*/
  /*pantalla de celular 430 */
  @media screen and (max-width: 430px)  {



    .redsocial_iconos a i {
  
        font-size: 1.5rem;
        padding: .5rem 1rem;
        width: 20%;
        border-radius: 1.2rem;
      
        }
    .redsocial_iconos{
       
            padding: .4rem;
         
    }
    .sección_botones {
        width: 100%;
        margin-left: 40px;
        width: 90%;
     
    }
       .banner {
    height: 12%;
    }
    .imagen_postulante{
    width: 50%;

  }
    .info_datos li  {
    font-size: 10px;}

    .info_datos i {
        font-size: 15px;

    }
    .miinformacion {
        margin-left: 4rem;}
    
    .presentacióntitulo h2 {
    font-size: 1em;
        
        }
    .presentacióntitulo p {
            
     font-size: 16px;
    margin-left: 70px;
    align-content: right;
    margin-right: 20px;
        }
        /*pagina2*/
       .pagina2 {
        width: 100%;
       }
             
        .habilidades h2 {
        font-size: 20px;
        margin-left: 120px;
        }
        .habilidades i {
            font-size: 20px;
            margin-left: 130px;
            }
              
           .habilidades{
            margin-top: 10px;
           } 
        .habilidades .barras {
                Position:relative;
                Display:grid;
                grid-template-columns: 120px 1fr;
                Justify-content:left;
                align-items: right;
                padding: 0 140px; 
                margin-top: 0.8rem;
                font-size: 1.3rem;
                
                
            
            }
        .habilidades .barras spam{
             font-size: .6rem;
             font-weight: bold; 
             margin-right: 6px;
               
            }
            .habilidades .barras .porcentaje {
                Position: relative;
                Width:90%;}
           
        
        
        /*seccion experiencia*/
        .experiencia {
            grid-row: 2/4;
            grid-column:1/8 ;
            margin-left: 15px;
            margin-top: 10px;
            
            
        }
        .experiencia h2 {
            font-size: 20px;
            margin-left: 50px;
           
           }
        
        .experiencia i {
            font-size: 20px;
            margin-left: 50px;
        
            
           }
        .sección_experiencia_info td {
            padding: 0px 10px;
            font-size: 10px;
                  
        }
       .sección_experiencia_info .año{
            font-weight: var(--bold);
            font-size: 9px;
            padding-left: 30px;
            
        }
        .sección_experiencia_info {
            margin-left: 10px;
        }
        
        /***educaccion*/
       
        .estudios h2 {
            font-size: 20px;
            margin-left: 0px;
            
           
           }
        
        .estudios i {
            font-size: 20px;
            margin-left: 0px;}
        
        .estudios {
            grid-row: 3/4;
            grid-column: 1/12;
            padding: 590px 0px;
            margin-top: 0px;
            align-items: right;
            margin-left: 60px;
           
        }
        
           .sección_estudios_info td {
            padding: 1px 20px 0px;
            margin-right: 10px;
            margin-left: 15px;
            font-size: 10px;
          
           
           }
        
        .sección_estudios_info .año{
            font-weight: var(--bold);
            font-size: 10px;
            padding-right: 5px;
        }
        .header_a {
            font-size: 15px;
            }
            .header {
                height: 80%;

            }   
        }



            
           
           



